<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>level_id</key>
		<string>0</string>
		<key>level_name</key>
		<string>医生职称</string>
	</dict>
	<dict>
		<key>level_id</key>
		<string>1</string>
		<key>level_name</key>
		<string>就诊人数</string>
	</dict>
	<dict>
		<key>level_id</key>
		<string>2</string>
		<key>level_name</key>
		<string>服务评价</string>
	</dict>
</array>
</plist>
